/* Base */

body {
  background: #e2e1e0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.title {
  font-size: 1.6em;
  font-weight: bold;
  color: gray;
  text-align: center;
  width: 100%;
}

/* Components */

.Header {
  background-color: #ccc;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.Header input {
  flex: 3;
}

.Header button {
  flex: 1;
}

.PostList {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Post {
  background: white;
  display: flex;
  background: #fff;
  border-radius: 2px;
  height: 300px;
  margin: 1rem 0 1rem 0;
  position: relative;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media screen and (min-width:768px) {
  .Post {
  width: calc(100%/2 - 60px);
  }
}
@media screen and (min-width:1200px) {
  .Post {
  width: calc(100%/3 - 60px);
  }
}

.Post__inner {
  padding: 60px 40px;
  flex: 1 1;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Post__title {
  font-size: 1.6em;
  font-weight: bold;
}

.Post__id {
  font-size: 1em;
  font-weight: 100;
}

.Login {
  background: #ccc;
  display: flex;
  height: 100%;
  flex-flow: column;
  padding: 3em;
  width: 400px;
  align-self: center;
  margin: 50px;
}

.Login__button, .Login__input {
  width: auto;
  flex: 1;
}

/* Forms */

form {
  display: flex;
  flex-flow: column;
}

/* Fields */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #aaa;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #aaa;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #aaa;
}

button {
  background-color: rgb(156, 155, 155);
}

button, input {
 flex: 1;
 border: 1px solid #ccc;
 color: #222;
 font-size: 1em;
 padding: 10px 50px;
 text-transform: uppercase;
 font-weight: normal;
 letter-spacing: 1.2px;
 border-radius: 6px;
 margin: 20px;
}
